# Videos (too large for git) — toutes les casses
/videos/*.MOV
/videos/*.mov
/videos/*.Mp4
/videos/*.mp4
/videos/*.MP4
/videos/*.Avi
/videos/*.avi
/videos/*.AVI
/videos/*.Mkv
/videos/*.mkv
/videos/*.MKV

# Output
/best_photos/
/output/

# Python
__pycache__/
*.pyc
.venv/
venv/
